:root {
    --bg: #fff;
    --title: #000;
    --subtitle: #292525;
}

body {
    background-color: var(--bg);
    overflow-x: hidden;
}

main h1 {
    color: var(--title);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main h2 {
    color: var(--subtitle);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    margin-top: 2%;
}