.midia-div {
    /* background-color: #0f1de085; */
}

.fotos {
    display: flex;
    justify-content: space-around;
    gap: 5%;
}

.fotos img {
    max-width: 100%;
}

@media (max-width: 768px) {

    .midia-div .videos, .fotos {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}