/*
    #4d4848
    #E1F4CB
*/

:root {
    --bg: #fff;
    --title: #000;
    --subtitle: #292525;
}

body {
    background-color: var(--bg);
    overflow-x: hidden;
}

.firstDiv {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

#firstImg {
    max-width: 80%;
}

main section h1 {
    color: var(--title);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main section h2 {
    color: var(--subtitle);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a.btn {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.747);
    font-size: large;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    border-radius: 0;
}

a.btn:hover {
    transform: scale(1.1);
}

section a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.activism-video {
    width: 100%;
    padding: 0;
    margin-top: 5%;
}

.activism-video .video-div {
    display: flex;
    width: 100%;
    gap: 10%;
    flex-wrap: wrap;
}

.activism-video p {
    max-width: 100%;
}

.about-us {
    display: flex;
    width: 100vw;
    align-items: center;
}

main #about-us-paragraph{
    width: 40%;
}

#about-us-svg {
    max-width: 40%;
    max-height: 100%;
}


iframe {
    max-width: 100%;
    height: auto;
}

footer {
    margin-top: 2%;
}

@media (max-width: 768px) {

    .firstDiv {
        flex-direction: column;
        text-align: center;
    }

}